{{ define "content" }}
<link rel="stylesheet" href="css/tabel-hapus-lokasi.css">

<table class="table responsive-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Pos</th>
            <th>Keterangan</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody id="data">
        <!-- Data akan dimuat disini -->
    </tbody>
</table>
</div>
<script src="script/admin-hapus-lokasi.js"></script>

 <!-- untuk  penutup div di admin.html -->
</div>

{{end}}